<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <PH2M_PhAddtocart>
            <version>0.1.0</version>
        </PH2M_PhAddtocart>
    </modules>
    <frontend>
        <layout>
            <updates>
                <phaddtocart>
                    <file>ph/addtocart.xml</file>
                </phaddtocart>
            </updates>
        </layout>
        <translate>
            <modules>
                <ph2m_phaddtocart>
                    <files>
                        <default>PH2M_PhAddtocart.csv</default>
                    </files>
                </ph2m_phaddtocart>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <ph2m_phaddtocart>
                    <files>
                        <default>PH2M_PhAddtocart.csv</default>
                    </files>
                </ph2m_phaddtocart>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <helpers>
            <phaddtocart>
                <class>PH2M_PhAddtocart_Helper</class>
            </phaddtocart>
        </helpers>
        <blocks>
            <phaddtocart>
                <class>PH2M_PhAddtocart_Block</class>
            </phaddtocart>
        </blocks>
        <models>
            <phaddtocart>
                <class>PH2M_PhAddtocart_Model</class>
            </phaddtocart>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <phaddtocart_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <class>PH2M_PhAddtocart_Model_Observer</class>
                        <method>registerQuoteItem</method>
                    </phaddtocart_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_add_product_complete>
                <observers>
                    <phaddtocart_add_product_complete>
                        <type>singleton</type>
                        <class>PH2M_PhAddtocart_Model_Observer</class>
                        <method>returnPopupData</method>
                    </phaddtocart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </global>
</config>